body{
    margin: 0;
    padding: 0;
    background: #d3c2cd;
    font-family: sans-serif;
}

.container {
    margin:auto;
    background-color: #917287;
    width: 50%;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
   
}


#title{
    margin-top: 100px;
    text-align: center;
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -5px 0 #000, 0 5px #000, 5px 0 #000, 0 -5px #000;
    font-size: 50px;
    color: gray;
    
}


#inputText{
    margin-top: 50px;
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border: 5px solid orange;
    border-radius: 15px;
    color: #606060;
}

#addToDo{
    margin-top: 50px;
    height: 45px;
    width: 80px;
    border: 1px solid gray;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: orange;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#addToDo:active {
    background: black;
}

#clearToDo{
    margin-top: 50px;
    height: 45px;
    width: 100px;
    border: 1px solid gray;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: orange;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#clearToDo:active{
    background: #000;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 35px;
    
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: gray;
    text-transform: capitalize;
}

.to-dos{
    margin-top: 25px;
}